.prices-container {
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    width: 100%;
}

.prices-content {
    width: 1170px;
    text-align: center;
    padding-bottom: 50px;
}

.prices-container__title {
    padding-top: 50px;
}

.prices-line {
    border-bottom: 1px solid #EC7979;
    width: 170px;
    margin: 0px auto;
    margin-top: 70px;
    margin-bottom: 40px;
}

.prices-content__lorem {
    color: #86878B;
    margin-bottom: 59px;
}

.tariffs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.tarrif-card {
    width: 370px;
}

.tarif-head {
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarif-head__name {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32.68px;
    text-align: center;
    margin: 10px 0px;
}

.tarif-head__price {
    border-top: 2px solid #F5F5F5;
    border-bottom: 2px solid #F5F5F5;
    width: 370px;
    height: 100px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarif-head__information {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
    opacity: 0.5;
    margin: 10px 0px;
}

.tarif-pluses {
    background-color: white;
    color: #86878B;
}

.list {
    padding: 0px;
    margin: 0px;
}

.list__data {
    list-style-type: none;
    border-bottom: 2px solid #F5F5F5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21.13px;
    padding: 15px 0px;
}

.first-card {
    margin-top: 20px;
}